$main-color: #4c1c20;
$dark-color: #1c1c1c;
$extra-dark-color: #000000;
$event-color: #ed6a5e;
$extra-light-color: #fff;
$light-color: #f7f7f7;
$text-color: #585757;
$text-light-color: #969696;
$input-color: #d5d5d5;
$placeholder-color: #bebebe;
